.page {
  width: 100vw;
  height: 100vh;

  .title {
    margin: 20Px 0 12Px 16Px;
    color: #6b6b6b;
    font-weight: bold;
  }

  .layout {
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 14PX auto;
    background: #fff;
    border-radius: 6PX;
    height: 48PX;
    padding: 0 16PX;
  }

  .subTitle {
    height: 100%;
    text-align: center;
    line-height: 48PX;
    margin-bottom: 18PX;
  }

  .subContent {
    @extend .subTitle;

  }

  .buttonCommon {
    width: 88%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 12PX 0;
    background: linear-gradient(to right, #1677FF, #4190ff);
    text-align: center;
    cursor: pointer;
    font-size: 18PX;
    border-radius: 10PX;
  }

  .discoveryButton {
    @extend .buttonCommon;
  }

  .dataButton {
    @extend .buttonCommon;
    bottom: 28PX;
    position: fixed;
  }
}
