.page {
  width: 100%;
  height: 100%;

  .connect {
    margin: 22PX 22PX 0 22PX;

    .connect-title {
      font-size: 16PX;
      color: #a2a2a2;
      margin-bottom: 16PX;
    }

    .connect-input {
      border: 1PX solid #ccc;
      border-radius: 12PX;
    }

    .connect-add {
      width: 100%;
      margin-top: 28PX;
      margin-bottom: 28PX;
    }

    .connect-title-select {
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .list {
      width: 91%;
      border-radius: 14PX;
      margin-bottom: 12PX;

      .van-swipe-cell__right {
        display: flex;
        align-items: center;
      }

      .list-operate {
        height: 96%;
        width: 45%;
      }

      .list-items {
        padding: 10PX 16PX;
        border-radius: 14PX;
        border: 1PX solid #ccc;
        background-color: white;

        .flex-center-between {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .list-items-title {
          @extend .flex-center-between;
          font-size: 17PX;
          margin-bottom: 8PX;

          .list-items-status {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            .list-items-status-badge {
              width: 10PX;
              height: 10PX;
              border-radius: 50%;
              display: inline-block;
            }

            .list-items-status-text {
              color: #ccc;
              font-size: 14PX;
              margin-left: 6PX;
              padding-bottom: 2PX;
            }
          }
        }

        .list-items-desc {
          @extend .flex-center-between;
          font-size: 14PX;
          color: #ccc;
        }
      }
    }
  }
}


