.page {
  width: 100vw;
  height: 100vh;
  position: relative;

  .map {
    width: 100%;
    height: 85%;
  }

  .operate {
    height: 19%;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24Px 24Px 0 0;

    .operate-title {
      display: flex;
      justify-content: space-between;
      margin: 8Px 24Px;
      height: 21Px
    }

    .operate-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 38PX 16PX;
      height: 100%;

      .column-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #cccccc;
        font-size: 16Px;

        .column-layout-text {
          font-size: 12Px;
        }
      }

      .location {
        width: 62Px;
        height: 62Px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1677FF;
      }

      .icon {
        width: 32Px;
        height: 32Px;
      }
    }
  }

  .edit {
    height: 30%;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24Px 24Px 0 0;

    .edit-title {
      height: 21Px;
      margin: 8Px 24Px;
      display: flex;
      justify-content: space-between;

      .edit-title-desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14PX;
        color: #222;
      }
    }

    .edit-content {
      height: 100%;
      margin: 8PX 18PX;
      overflow-y: auto;

      .edit-content-radio {
        margin: 4px;
        gap: 16PX;
        display: flex;
        flex-wrap: wrap;

        .van-radio {
          position: relative;
        }

        :global(.van-radio__icon--checked) {
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
          background-color: #fff;
          border: 2PX solid #314df6;
        }

        :global(.van-radio__label) {
          position: absolute;
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
          padding-left: 0;
          display: flex;
          align-items: center;
          justify-content: center
        }

        :global(.van-radio__icon) {
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
        }
      }

      .edit-content-divider {
        left: 0;
        right: 0;
        bottom: 24PX;
        margin: 12PX 18PX;
        position: absolute;
      }

      .edit-content-operate {
        bottom: 0;
        left: 0;
        right: 0;
        height: 24PX;
        padding: 6Px 32Px;
        font-size: 14Px;
        display: flex;
        position: absolute;
        color: #1677FF;
        background-color: #fff;
        justify-content: space-between;
      }
    }
  }

  .arg {
    :global(.van-picker__toolbar) {
      display: none;
    }

    :global(.vant-form-formItem-controll) {
      margin-left: 0;
    }

    :global(.vant-form-formItem) {
      align-items: center;
    }
  }


  .top-info {
    font-size: 12PX;
    color: rgb(0 0 0 / 55%);
    margin-top: -20PX;

    .update {
      color: #1677FF;
      margin-left: 8px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}






