.page {
  width: 100%;
  height: 100%;

  .input {
    border: 1PX solid #ccc;
    border-radius: 18PX;
    margin: 18PX;
    width: auto;
  }

  .page-button {
    width: calc(100% - 36PX);
    display: flex;
    justify-content: center;
  }
}


