page {
  height: 100vh;
  width: 100vw;

  .page {
    margin: 0 auto;
    width: 90%;

    .tips {
      margin: 32PX 0 42PX;

      .welcome {
        font-size: 26PX;
      }

      .tip {
        font-size: 26PX;
        font-weight: bold;
      }
    }

    .username {
      margin-bottom: 12PX;
      margin-top: 14PX;
    }

    .submit {
      color: #fff;
      background: #1677FF;
      width: 100%;
      margin-top: 24PX;
    }
  }
}
