.page {
  width: 100%;
  height: 100%;

  .title {
    margin: 14PX;
    display: flex;
    justify-content: center;
    font-size: 16PX;
    font-weight: bold;
  }

  .desc {
    font-size: 14PX;
    margin: 14PX;
    color: #666;
  }

  .time {
    color: #ccc;
    margin: 12PX;
    font-size: 12PX;
  }
}


