.page {
  width: 100%;
  height: 100%;

  .search {
    width: 96%;
    margin: 0 auto;

    .van-search__content {
      border: 1PX solid #cccccc;
      border-radius: 12PX;
    }
  }

  .content {
    .van-virtual-half-list-box0 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content-cell {
      width: 90%;
      border-radius: 12PX;
      margin-top: 14PX;
      border: 1PX solid #ccc;
      padding: 18rpx 32rpx;

      .content-cell-title {
        color: #222;
        font-size: 16PX;
      }

      .content-cell-date {
        color: #ccc;
      }
    }
  }
}


