.page {
  width: 100vw;
  height: 100vh;
  position: relative;

  .map {
    width: 100%;
    height: 85%;
  }

  .operate {
    height: 19%;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24Px 24Px 0 0;

    .operate-title {
      display: flex;
      justify-content: space-between;
      margin: 8Px 24Px;
      height: 21Px
    }

    .operate-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 38PX 16PX;
      height: 100%;

      .column-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #cccccc;
        font-size: 16Px;

        .column-layout-text {
          font-size: 12Px;
        }
      }

      .location {
        width: 62Px;
        height: 62Px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1677FF;
      }

      .icon {
        width: 32Px;
        height: 32Px;
      }
    }
  }

  .edit {
    height: 30%;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24Px 24Px 0 0;

    .edit-title {
      height: 21Px;
      margin: 8Px 24Px;
      display: flex;
      justify-content: space-between;

      .edit-title-desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14PX;
        color: #222;
      }
    }

    .edit-content {
      height: 100%;
      margin: 8PX 18PX;
      overflow-y: auto;

      .edit-content-radio {
        margin: 4PX;
        gap: 16PX;
        display: flex;
        flex-wrap: wrap;

        .van-radio {
          position: relative;
        }

        .van-radio__icon--checked {
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
          background-color: #fff;
          border: 2PX solid #314df6;
        }

        .van-radio__label {
          position: absolute;
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
          padding-left: 0;
          display: flex;
          align-items: center;
          justify-content: center
        }

        .van-radio__icon {
          width: 48PX;
          height: 48PX;
          border-radius: 50%;
        }
      }

      .edit-content-divider {
        left: 0;
        right: 0;
        bottom: 24PX;
        margin: 12PX 18PX;
        position: absolute;
      }

      .edit-content-operate {
        bottom: 0;
        left: 0;
        right: 0;
        height: 24PX;
        padding: 6Px 32Px;
        font-size: 14Px;
        display: flex;
        position: absolute;
        color: #1677FF;
        background-color: #fff;
        justify-content: space-between;
      }
    }
  }

  .generate {
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24Px 24Px 0 0;

    .generate-banner {
      display: flex;
      justify-content: space-between;
      margin: 8Px 24Px;
      height: 21Px
    }

    .generate-content {
      height: 100%;
      margin: 10PX 24PX 28PX 28PX;

      .generate-content-item {
        height: 42PX;
        width: 100%;
        display: flex;
        font-size: 14PX;
        align-items: center;

        .generate-content-item-title {
          flex: 0 0 18%;
        }

        .generate-content-item-value {
          flex: 0 0 62%;

          .customButton {
            height: 24PX;
            padding: 0 10PX;
            color: #ffffff;
            font-size: 12PX;
            line-height: 24PX;
            text-align: center;
            border-radius: 14PX;
            background-color: #1677FF;
            border: 1PX solid #ffffff;
          }
        }

        .generate-content-item-step {
          flex: 0 0 10%;
          color: #1677FF;
          font-size: 28PX;
          line-height: 28PX;
          margin-bottom: 4PX;
          text-align: center;
        }
      }

      .vant-form-formItem-horizontal {
        display: flex;
        align-items: center;
      }

      .vant-form-formItem-controll {
        margin-left: 0;
      }

      .vant-form-formItem {
        padding: 10PX 0;
      }
    }
  }

  .arg {
    .van-picker__toolbar {
      display: none;
    }

    .vant-form-formItem-controll {
      margin-left: 0;
    }

    .vant-form-formItem {
      align-items: center;
    }
  }

  .top-info {
    font-size: 12PX;
    color: rgb(0 0 0 / 55%);
    margin-top: -20PX;
  }
}






